<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="testBean"
          class="ru.eskina.springcourse.TestBean">
        <constructor-arg value="Neil"/>
    </bean>

    <bean id="musicBeanRock"
          class="ru.eskina.springcourse.RockMusic ">
    </bean>

    <bean id="musicBeanClassic"
          class="ru.eskina.springcourse.ClassicalMusic">
    </bean>

    <bean id="musicBeanJazz"
          class="ru.eskina.springcourse.JazzMusic ">
    </bean>

    <bean id="musicPlayer"
          class="ru.eskina.springcourse.MusicPlayer">
<!--        <constructor-arg ref="musicBean"/> -->
<!--        <property name="music" ref = "musicBean"/>-->
<!--        <property name="name" value = "MyPlayer"/>-->
<!--        <property name="volume" value="50"/>-->
        <property name="name" value = "${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
        <property name="playList">
            <list>
                <ref bean="musicBeanClassic"/>
                <ref bean="musicBeanJazz"/>
                <ref bean="musicBeanRock"/>
            </list>
        </property>
    </bean>

</beans>